
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="/static/styles/main.css">
      <link rel="shortcut icon" href="/static/imgs/icon.ico" type="image/x-icon">
      <title>DSound Player</title>
      <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
   </head>
   <body>
      <body>
         <header>
            <nav>
               <ul class="left">
                  <a href="/">
                     <li>
                        <div class="logo"></div>
                        <h2 class="title">DSound Player</h2>
                     </li>
                  </a>
               </ul>
               <ul class="right mob-hide">
                  <a href="downloads"><li><h3>Downloads</h3></li></a>
                  <a href="https://github.com/IDDEN/dsound-player" target="blank"><li><h3>Github</h3></li></a>
                  <a href="https://www.patreon.com/IDDEN" target="blank"><li><h3>Donate</h3></li></a>
               </ul>
            </nav>
         </header>

         {{{body}}}

         <footer>
            <nav>
               <ul>
                  <a href="https://idden.me">
                     <li>
                        <h3>IDDEN</h3>
                     </li>
                  </a>
               </ul>
            </nav>
         </footer>

         <script src="/static/js/slider.js"></script>
      </body>
   </body>
</html>