<div id="downloads" class="container page">
   <img src="static/imgs/dsound_white.png" alt="DSound">
   <h1><ion-icon name="download"></ion-icon> Downloads</h1>
   <a href="download/win32"><button><ion-icon name="logo-windows"></ion-icon> Windows</button></a>
   <a href="download/deb"><button><ion-icon name="logo-tux"></ion-icon> Debian</button></a>
</div>