<div id="home" class="container page">
   <img src="static/imgs/dsound_white.png" alt="DSound">
   <h1>Listen to DSound content directly on your Desktop</h1>
   <a href="download"><button><ion-icon name="download"></ion-icon> Download</button></a>

   <ul class="slider">
      <li class="slide showing">
         <img class="screenshot" src="static/imgs/screenshot_0.png" alt="Preview">
      </li>
      <li class="slide">
         <img class="screenshot" src="static/imgs/screenshot_1.png" alt="Preview">
      </li>
      <li class="slide">
         <img class="screenshot" src="static/imgs/screenshot_2.png" alt="Preview">
      </li>
   </ul>
</div>
